{% extends 'base.html' %}
{% block title %}
Sign Up for DS Badminton
{% endblock %}

{% block content %}

<style>
  .center-container {
    position: absolute;
    left: 40%;
  }

  .signup-button {
    background-color: #8c52ff;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
  }

  .goback-button {
    background-color: #8c52ff;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
  }

  .button-container {
    display: flex;
  }

  .button-container button {
    margin-right: 10px;
  }
</style>

<div class="center-container">
  <h1 style="color: white">Sign Up</h1> <br>
  <div class="button-container">
    <form style="color: white ;" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <button onclick="history.back()" class="goback-button">Go Back</button>
      <button type="submit" class="signup-button">Sign Up</button>
  </div>
  </form>
  {% endblock %}