{% extends 'base.html' %}
{% block content %}

<style>
    .center-container {
        align-items: center;
        text-align: center;
    }
    .submit-button {
    background-color: #8c52ff;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 15%;
  }

  </style>

<div class="center-container">
    <h1 style="color: white; ">Casual Booking Form</h1> <br>
    
    <form action="{% url 'booking' %}">
        <input type="text" name="firstname" value="First Name"> <br>
        <input type="text" name="lastname" value="Last Name"> <br> 
        <input type="email" name="email" value="Email"> <br>
        <input type="text" disabled name="court" value="Court"> <br><br>
        
        <button class="submit-button" onclick="alert('Booking reserved! Please pay to confirm reservation. Check your email for information about your booking.')">Submit</button>
    </form>
</div>

{% endblock %}