{% extends 'base.html' %}
{% block content %}

<style>
    .center-container {
        align-items: center;
        text-align: center;
    }
    .submit-button {
    background-color: #8c52ff;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 15%;
  }

  </style>

<div class="center-container">
    <h1 style="color: white; ">Member Booking Form</h1> <br>
    
    <form method="post">
        <input type="text" name="user" value="User"> <br>
        <input type="text" name="court" value="Court"> <br> <br>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>

{% endblock %}